              <!-- Modal for Adding Product -->
              <!-- Modal for adding product -->
              <!-- Modal for Adding Product -->
              <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"
                aria-labelledby="addProductModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>



                    <div class="modal-body">
                      <form id="addProductForm" action="/admin/products/add" method="POST">
                        <!-- Product details -->
                        <div class="form-group">
                          <label for="productNo">Product No</label>
                          <input type="number" class="form-control" id="productNo" name="productNo" required>
                          <small id="productNoError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>
                        <div class="form-group">
                          <label for="name">Product Name</label>
                          <input type="text" class="form-control" id="name" name="name" required>
                          <small id="nameError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>
                        <div class="form-group">
                          <label for="description">Product Description</label>
                          <input type="text" class="form-control" id="description" name="description" required>
                          <small id="descriptionError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>
                        <div class="form-group">
                          <label for="category">Category</label>
                          <select class="form-control" id="category" name="category" required>
                            <% categories.forEach(category=> { %>
                              <option value="<%= category._id %>">
                                <%= category.name %>
                              </option>
                              <% }) %>
                          </select>
                          <small id="categoryError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>
                        <div class="form-group">
                          <label for="stock">Stock</label>
                          <input type="number" class="form-control" id="stock" name="stock" required>
                          <small id="stockError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>
                        <div class="form-group">
                          <label for="price">Price</label>
                          <input type="number" class="form-control" id="price" name="price" required>
                          <small id="priceError" class="form-text text-danger"></small> <!-- Error message -->
                        </div>

                        <!-- Image upload and cropper -->
                        <div class="form-group">
                          <label for="imageUpload">Upload 3 Images</label><br>
                          <input type="file" id="imageUpload1" accept="image/*" required>
                          <img id="imagePreview1" style="max-width: 100%; display: none;" />
                          <input type="hidden" id="croppedImage1" name="croppedImage1">
                          <small id="imageUpload1Error" class="form-text text-danger"></small>
                          <br>

                          <input type="file" id="imageUpload2" accept="image/*" required>
                          <img id="imagePreview2" style="max-width: 100%; display: none;" />
                          <input type="hidden" id="croppedImage2" name="croppedImage2">
                          <small id="imageUpload2Error" class="form-text text-danger"></small>
                          <br>

                          <input type="file" id="imageUpload3" accept="image/*" required>
                          <img id="imagePreview3" style="max-width: 100%; display: none;" />
                          <input type="hidden" id="croppedImage3" name="croppedImage3">
                          <small id="imageUpload3Error" class="form-text text-danger"></small>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="addProductButton">Add Product</button>
                        </div>
                      </form>
                    </div>


                  </div>
                </div>
              </div>