html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

        .navbar img {
            max-height: 100%;
        }

        @media (max-width: 767px) {
            .img-fluid-main {
                display: none;
            }
        }