.modal-content {
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 20px;
}

.modal-header h5 {
    font-weight: 600;
}

.modal-body img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.modal-body img:hover {
    transform: scale(1.05);
}

.modal-body p {
    color: #6c757d;
    font-size: 16px;
}

.modal-footer {
    border-top: 1px solid #e9ecef;
    padding: 15px;
    justify-content: space-between;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

#sizeSelect,
#quantitySelect {
    border-radius: 5px;
}


.thumbnail-images img {
    cursor: pointer;
    margin-right: 5px;
}

.modal.fade .modal-dialog {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.modal-body {
    max-height: 170vh;
    overflow-y: auto;
}

.custom-modal {
    margin-top: 50px;
}

.modal.show .modal-dialog {
    opacity: 1;
}

.modal {
    z-index: 1050;
}

.wrap-menu-desktop {
    z-index: 1000;
}

.modal-backdrop {
    z-index: 1040;
    opacity: 0.5;
}

.out-of-stock-shade {
    position: relative;
}

.out-of-stock-shade::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
}

.underline-active {
    border-bottom: 2px solid #333;
}


.out-of-stock {
    color: red;
    font-weight: bold;
}