html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar img {
    max-height: 100%;
}

.password-field {
    position: relative;
}

.password-field .form-control {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

.toggle-password:hover {
    color: #000;
}
